[submodule "Dock"]
	path = Dock
	url = https://github.com/BAndysc/Dock.git
[submodule "AvaloniaEdit"]
	path = AvaloniaEdit
	url = https://github.com/BAndysc/AvaloniaEdit
[submodule "WowPacketParser"]
	path = WowPacketParser
	url = https://github.com/BAndysc/WowPacketParser
