[submodule "Dock"]
	path = Dock
	url = https://github.com/BAndysc/Dock.git
[submodule "AvaloniaEdit"]
	path = AvaloniaEdit
	url = https://github.com/BAndysc/AvaloniaEdit
[submodule "Prism.Avalonia"]
	path = Prism.Avalonia
	url = https://github.com/BAndysc/Prism.Avalonia
[submodule "DBCD"]
	path = DBCD
	url = https://github.com/wowdev/DBCD
[submodule "WowPacketParser"]
	path = WowPacketParser
	url = https://github.com/TrinityCore/WowPacketParser
