[submodule "Dock"]
	path = Dock
	url = https://github.com/BAndysc/Dock.git
[submodule "AvaloniaEdit"]
	path = AvaloniaEdit
	url = https://github.com/BAndysc/AvaloniaEdit
[submodule "WoWPacketParser"]
	path = WoWPacketParser
	url = https://github.com/BAndysc/WoWPacketParser
[submodule "Prism.Avalonia"]
	path = Prism.Avalonia
	url = https://github.com/BAndysc/Prism.Avalonia
[submodule "DBCD"]
	path = DBCD
	url = https://github.com/BAndysc/DBCD
[submodule "Modules/nodify"]
	path = Libraries/nodify
	url = https://github.com/BAndysc/nodify-avalonia
[submodule "Modules/automatic-graph-layout"]
	path = Libraries/automatic-graph-layout
	url = https://github.com/microsoft/automatic-graph-layout
[submodule "Libraries/DiffPlex.Avalonia"]
	path = Libraries/DiffPlex.Avalonia
	url = https://github.com/BAndysc/DiffPlex.Avalonia.git
[submodule "Libraries/Classic.Avalonia"]
	path = Libraries/Classic.Avalonia
	url = https://github.com/BAndysc/Classic.Avalonia
[submodule "Libraries/Avalonia.Controls.DataGrid"]
	path = Libraries/Avalonia.Controls.DataGrid
	url = https://github.com/BAndysc/Avalonia.Controls.DataGrid
