<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttachedCommandBehavior" version="2.0.0.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net462" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net462" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net462" />
  <package id="Platform.NET" version="1.2.1.291" targetFramework="net462" />
  <package id="Platform.Xml.Serialization" version="1.2.1.291" targetFramework="net462" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="Prism.Unity" version="6.3.0" targetFramework="net452" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net452" />
  <package id="Shaolinq" version="1.2.0.1118" targetFramework="net462" />
  <package id="Shaolinq.MySql" version="1.2.0.1118" targetFramework="net462" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net462" />
</packages>