<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttachedCommandBehavior" version="2.0.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net452" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net452" />
  <package id="Platform.NET" version="1.2.5" targetFramework="net452" />
  <package id="Platform.Xml.Serialization" version="1.2.5" targetFramework="net452" />
  <package id="Prism.Core" version="7.1.0.172-pre" targetFramework="net452" />
  <package id="Prism.Unity" version="7.1.0.172-pre" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.1.0.172-pre" targetFramework="net452" />
  <package id="Shaolinq" version="1.8.10" targetFramework="net452" />
  <package id="Shaolinq.MySql" version="1.8.10" targetFramework="net452" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net452" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net452" />
  <package id="Unity.RegistrationByConvention" version="2.1.5" targetFramework="net452" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2013" version="2.9.0.1" targetFramework="net452" />
</packages>